<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car" class="com.spring_1_100.test_21_30.test29_reference.Car">
    </bean>


    <bean id="boss1" class="com.spring_1_100.test_21_30.test29_reference.Boss"
    p:carId="car1"></bean>

<!--
idref元素用来将容器内其它bean的id传给<constructor-arg/> 或 <property/>元素，同时提供错误验证功能。
 如果 bean value  写成 car1 将出现如下错误

 BeanDefinitionStoreException: Invalid bean name 'car1' in bean reference for bean property 'carId'
-->
    <bean id="boss2" class="com.spring_1_100.test_21_30.test29_reference.Boss">
        <property name="carId">
            <idref bean="carxx"></idref>
        </property>
    </bean>


</beans>