<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car" class="com.spring_1_100.test_21_30.test25_lookup_method.Car" scope="prototype"
          p:brand="红旗 CA72"
          p:maxSpeed="2000">
    </bean>

    <bean id="boss" class="com.spring_1_100.test_21_30.test25_lookup_method.MagicBossImpl">
        <lookup-method name="getCar" bean="car"></lookup-method>
    </bean>



<!--
   <bean id="boss" class="com.spring_1_100.test_21_30.test25_lookup_method.MagicBossImpl">
    </bean>
-->




</beans>