<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_101_200.test_181_190.test_182_tx_out_required_inner_required.mapper.UserMapper">


    <select id="selectById" resultType="User">
        select * from lz_user where id = #{id}
    </select>


    <update id="updateById" parameterType="User" >
        update
        lz_user
        <trim prefix="set" suffixOverrides=",">
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="managerId != null">manager_id = #{managerId},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="sexStr != null">sex_str = #{sexStr}</if>
        </trim>
        ,gmt_modified = now()
        where id = #{id}
    </update>


</mapper>