<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="com.spring_1_100.test_51_60.test60.MyInstantiationAwareBeanPostProcessor"></bean>

    <bean id="user" class="com.spring_1_100.test_51_60.test60.User">
        <property name="userName" value="zhangsan"></property>
    </bean>

    <bean id="person" class="com.spring_1_100.test_51_60.test60.Person"></bean>

</beans>


