<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--使用工厂方法-->
    <bean id="car" class="com.spring_1_100.test_11_20.test16_attr_inject.Car">
        <property name="maxSpeed">
            <value>280</value>
        </property>
        <property name="brand">
            <value><![CDATA[红旗&CA72]]></value>
        </property>
    </bean>


</beans>