<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="foo" class="com.spring_1_100.test_11_20.test11_var_name.Foo">
        <property name="iDCode" value="070101"></property>
    </bean>


</beans>