<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="boss" class="com.spring_1_100.test_11_20.test13_constructor_cycle_refrence.Boss">
        <constructor-arg>
            <ref bean="car"></ref>
        </constructor-arg>
    </bean>
    <bean id="car" class="com.spring_1_100.test_11_20.test13_constructor_cycle_refrence.Car">
        <constructor-arg>
            <ref bean="boss" ></ref>
        </constructor-arg>
    </bean>
</beans>