<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="boss" class="com.spring_1_100.test_11_20.test19_cascade_attr.Boss">
        <property name="car.brand" value="吉利 CT50" ></property>
    </bean>
</beans>