<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">



    <bean id="iWaitingProxy" class="com.spring_1_100.test_91_100.test91_introduction.WaitingProxyImpl"/>

    <aop:config proxy-target-class="true">
        <aop:aspect>
            <aop:declare-parents
                    types-matching="com.spring_1_100.test_91_100.test91_introduction..*"
                    implement-interface="com.spring_1_100.test_91_100.test91_introduction.IDeclareParentProxy"
                    default-impl="com.spring_1_100.test_91_100.test91_introduction.DeclareParentProxyImpl"/>
        </aop:aspect>
    </aop:config>
</beans>