<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="spring_101_200/config_121_130/spring127_mybatis_plugins/db.properties"></properties>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>


    <typeAliases>
      <package name="com.spring_101_200.test_121_130.test_127_mybatis_plugins"/>
    </typeAliases>


    <plugins>
        <plugin interceptor="com.spring_101_200.test_121_130.test_127_mybatis_plugins.DataScopeInterceptor">
            <property name="someProperty" value="100"/>
        </plugin>

        <plugin interceptor="com.spring_101_200.test_121_130.test_127_mybatis_plugins.QueryScopeInterceptor">
            <property name="someProperty" value="100"/>
        </plugin>
    </plugins>




    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"></property>
                <property name="username" value="${db.username}"></property>
                <property name="password" value="${db.pwd}"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="spring_101_200/config_121_130/spring127_mybatis_plugins/UserMapper.xml"></mapper>
    </mappers>
</configuration>

