<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.spring_1_100.test_81_90.test90_aspectj"></context:component-scan>
    <!--目标Bean-->
    <bean id="waiter" class="com.spring_1_100.test_81_90.test90_aspectj.NaiveWaiter"></bean>
    <!--使用了AspectJ注解切面类-->
    <bean class="com.spring_1_100.test_81_90.test90_aspectj.PreGreetingAspect"></bean>
    <!--自动代理目标bean-->
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean>
</beans>