<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="com.spring_1_100.test_81_90.test86_event.MailSendListener">

    </bean>

    <bean id="mailSender" class="com.spring_1_100.test_81_90.test86_event.MailSender"></bean>

</beans>