<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_101_200.test_141_150.test_145_mybatis_cachenamespaceref_xml.UserBillMapper">

    <cache-ref namespace="com.spring_101_200.test_141_150.test_145_mybatis_cachenamespaceref_xml.UserMapper"/>

    <resultMap id="UserBillBaseResultMap" type="User" extends="com.spring_101_200.test_141_150.test_145_mybatis_cachenamespaceref_xml.UserMapper.UserBaseResultMap">

    </resultMap>



    <select id="getUser" parameterType="java.lang.Long" resultMap="UserBillBaseResultMap">
            select * from lz_user where id=#{id}
    </select>






    <select id="getUserByMap" parameterType="java.lang.Long" resultMap="com.spring_101_200.test_141_150.test_145_mybatis_cachenamespaceref_xml.UserMapper.UserBaseResultMap">
            select * from lz_user where id=#{id}
    </select>

</mapper>