<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_101_200.test_141_150.test_148_mybatis_selectprovider.UserMapper">


    <resultMap id="BaseResultMap" type="com.spring_101_200.test_141_150.test_148_mybatis_selectprovider.User"
        extends="com.spring_101_200.test_141_150.test_148_mybatis_selectprovider.UserBillMapper.baseMap">
        <id column="id" property="id"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

<!--


    <sql id="a">
        id,username,
    </sql>


    <sql id="b">
       <include refid="a"/> real_name as realName
    </sql>

-->


    <!--
        <sql id="Base_Column_List_stupid">
            id AS id, is_delete AS isDelete, gmt_create AS gmtCreate, gmt_modified AS gmtModified, username AS username, password AS password,
            real_name AS realName, manager_id AS managerId, sex AS sex, sex_str AS sexStr,<include refid="Base_Column_List"/>
        </sql>-->


<!--
    <sql id="Base_Column_List">
        id AS id, is_delete AS isDelete, gmt_create AS gmtCreate, gmt_modified AS gmtModified, username AS username, password AS password,
        real_name AS realName, manager_id AS managerId, sex AS sex, sex_str AS sexStr
    </sql>-->

    <!--<sql id="Base_Column_List">
        select
    </sql>

    <select id="selectSqlUserById" resultType="User"  ><include refid="Base_Column_List"/> * from lz_user  where id=#{id} and is_delete = 0 limit 1
    </select>-->

    <sql id="a">
        id
    </sql>

    <sql id="Base_Column_List">
        <include refid="a"/>,username
    </sql>

    <select id="selectSqlUserById" resultType="User"  >
        select <include refid="Base_Column_List"/> from lz_user  where id=#{id} and is_delete = 0 limit 1
    </select>

</mapper>