<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="testA" class="com.spring_1_100.test_31_40.test37.TestA">
        <constructor-arg ref="testB"></constructor-arg>
    </bean>


    <bean id="testB" class="com.spring_1_100.test_31_40.test37.TestB">
        <constructor-arg ref="testC"></constructor-arg>
    </bean>

    <bean id="testC" class="com.spring_1_100.test_31_40.test37.TestC">
        <constructor-arg ref="testA"></constructor-arg>
    </bean>

</beans>