<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userManager" class="com.spring_1_100.test_31_40.test38.UserManager">
        <property name="dataValue">
            <value>2013-03-05</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.spring_1_100.test_31_40.test38.DatePropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>
</beans>


